body {
  color: white; /* Metin rengi */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Metin gölgesi */
  overflow-x: hidden; /* Yatay kaydırmayı kapatma */
}
.container {
  margin-left: 5%;
  margin-right: 0;
}

#navBar {
  padding-top: 2%;
}

.navBarMenuFetch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  z-index: 10;
}

#navBar .half-size { max-width: 200px; }

.containerBackground {
  width: 100%;
  height: 100vh; /* Tam ekran yüksekliği */
  position: absolute;
  background: url('/img/822-ic-mekan-tasarimlari.png') bottom / cover; /* Arka plan resmi, konum ve boyutlandırma */
  z-index: -2;
  transition: transform 8s ease; /* 8 saniyelik geçiş efekti */
  transform: scale(1.1); /* Resim üzerinde zoom yapma */
}

.containerBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 39, 1, 0.349); /* Yarı saydam siyah katman */
  z-index: -1;
}

ul.list-unstyled li.list-inline-item {
  font-weight: 700;
}

ul.list-unstyled li.list-inline-item:hover,
ul.list-unstyled li.list-inline-item.active {
  color: #C27B00;
  transition: color 0.5s ease; /* Geçiş efekti */
  cursor: pointer;
}

/* Telefon ikonu */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c27b00; /* Arka plan rengi */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle i {
  font-size: 20px; /* İkon boyutu */
  color: white; /* İkon rengi */
}

.half-size {
  transform: scale(0.7); /* Resmi küçültme */
  transform-origin: top left; /* Orijin noktasını sol üst köşeye ayarlar */
}

.border-bottom-menu {
  box-shadow: 0 1px 0 #ffffff21; /* Daha ince gölge efekti */
}



/* owls */
.owl-carousel .item {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* transition: transform 8s ease; 8 saniyelik geçiş efekti */
  /* transform: scale(1.1); Resim üzerinde zoom yapma */
}

.owl-carousel .item img {
  width: 100% !important;
  height: 100% !important;
}
.owl-carousel .item.active img {
  transition: transform 8s ease; /* 8 saniyelik geçiş efekti */
  transform: scale(1.1); /* Resim üzerinde zoom yapma */
}

.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: hsla(38, 100%, 28%, 0.493) !important;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 200px;
  font-size: 4em !important;
  font-weight: 100 !important;
  transition: background 0.5s ease-in-out, width 0.5s ease-in-out;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
  padding-left: 0;
  margin-left: 0;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
  padding-right: 0;
  margin-right: 0;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background: hsla(38, 100%, 28%, 0.74) !important;
  width: 75px;
}