.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 1% !important;
    margin-left: 2% !important;
    margin-right: 0 !important;
  }


.containerBackground {
  width: 100%;
  height: 100vh; /* Tam ekran yüksekliği */
  position: absolute;
  background-image: url('/img/822-ic-mekan-tasarimlari.png'); /* Arka plan resmi URL'si */
  background-size: cover; /* Resmin konteynırı kaplamasını sağlar */
  background-position: bottom; /* Resmin altını sabitler */
  color: white; /* Metin rengi */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Metin gölgesi */
}

.containerBackground::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah katman */
}

