body {
  color: white; /* Metin rengi */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Metin gölgesi */
  overflow-x: hidden; /* Yatay kaydırmayı kapatma */
}

.container {
  margin-left: 5%;
  margin-right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 200px;
  width: 50px;
  outline: black;
  background-size: 50%, 100%;
  background-color: #c27b00;
}

#navBar {
  padding-top: 2%;
}

#navBar .half-size { max-width: 200px; }

.containerBackground {
  width: 100%;
  height: 100vh; /* Tam ekran yüksekliği */
  position: absolute;
  background: url('/img/822-ic-mekan-tasarimlari.png') bottom / cover; /* Arka plan resmi, konum ve boyutlandırma */
  z-index: -2;
  transition: transform 8s ease; /* 8 saniyelik geçiş efekti */
  transform: scale(1.1); /* Resim üzerinde zoom yapma */
}

.containerBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 39, 1, 0.349); /* Yarı saydam siyah katman */
  z-index: -1;
}

ul.list-unstyled li.list-inline-item {
  font-weight: 700;
}

ul.list-unstyled li.list-inline-item:hover,
ul.list-unstyled li.list-inline-item.active {
  color: #C27B00;
  transition: color 0.5s ease; /* Geçiş efekti */
  cursor: pointer;
}

/* Telefon ikonu */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c27b00; /* Arka plan rengi */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle i {
  font-size: 20px; /* İkon boyutu */
  color: white; /* İkon rengi */
}

.half-size {
  transform: scale(0.7); /* Resmi küçültme */
  transform-origin: top left; /* Orijin noktasını sol üst köşeye ayarlar */
}

.border-bottom-menu {
  box-shadow: 0 1px 0 #ffffff21; /* Daha ince gölge efekti */
}
